html
    head
        h1 #{movie.Title} (#{movie.Year})
body
    div#main
        H3 Rated: #{movie.Rated}
        br
        H3 Plot: #{movie.Plot}
        br
        H3 Genre: 
        p #{movie.Genre}
        br
        H3 Actors: 
        p #{movie.Actors}
        br
        H3 Writers: 
        p #{movie.Writer}
        br
        H3 Directors: 
        p #{movie.Director}
        br

